html {
    background-image: url("img/baas-background2.jpg");
    background-attachment: fixed; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav{
    background-color: #dbb372;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

nav ul li{
    background-color: white;
    width: auto;
    height: auto;
    border-right: solid 2px #c78b2c;
    border-left: solid 2px #c78b2c;
    padding: 16px 30px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white; 
    text-decoration: none;
    transition: 0.2s 0.1s;  
}

nav ul li a{
    text-decoration: none;
    color: black;
}

li:hover{
    background-color: #f0d2a1;
    transform: scale(1.1, 1.1);
}

main {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;    
}

main h1, h3 {
    background-color: rgb(190, 190, 190);
    text-align: center;
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #dbb372;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  footer img{
      width: 40px;
      height: auto;
      transition: 0.2s 0.1s; 
  }

  footer img:hover{
    background-color: #f0d2a1;
    transform: scale(1.2, 1.2);
    background-color: #dbb372;
  }

/* index */

    .content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-auto-rows: 300px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }


    h1{
        text-align: center;
        font-size: 35px;
    }

    .principal1{
        grid-column: span 2;
        grid-row: span 2;
        font-size: 15px;
    }

    .pri1img{
        width: auto;
        height: auto;
    }

    .principal2{
        grid-column: span 1;
        grid-row: span 1;
        font-size: 15px;
    }

    .pri2img{
        width: auto;
        height: 300px; 
    }

    .principal3{
        grid-column: span 1;
        grid-row: span 1;
        font-size: 15px;
    }

    .pri3img{
        width: auto;
        height: 300px;
    }

    .content a{
        text-decoration: none;
        color: black;
    }

    .secundario{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-bottom: 5px;
        font-size: 12px;  
    }

    .secundario img{
        padding-top: 5px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h2:hover{
        text-decoration: none;
        background-color: rgb(201, 201, 182);
    }

   .secundario a{
        text-decoration: none;
        color: black;
    }

/* info */

    .info {
        margin-bottom: 5px;
        padding-bottom: 15px;
      }
      
      .info .info-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 250px;
        width: auto;
        object-fit: cover;
      }
      
      .info .info-texto {
        font-size: 15px;
      }

/* gallery */

    .galeria-sexto{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 300px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-bottom: 30px;
        
    }

    img{
        opacity: 80%;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .galeria-sexto img:hover{
        opacity: 100%;
        transform: scale(1.1, 1.1);
        transition: 0.2s 0.1s;  
    }
    

    .galeria-sexto-titulo{
        text-align: center;
        background-color: #dbb372;
        padding-top: 35%;
        height: auto;
        width: auto;
    }

    .sexto3{
        grid-row: span 2;

    }

    .sexto6{
        grid-column: span 2;
    }

    .galeria-pieck{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 300px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-bottom: 5px;
        padding-bottom: 15px;
    }

    img{
        height: 100%;
        width: 100%;
        object-fit:cover;
    }

    .galeria-pieck img:hover{
        opacity: 100%;
        transform: scale(1.1, 1.1);
        transition: 0.2s 0.1s;  
    }

    .galeria-pieck-titulo{
        text-align: center;
        background-color: #dbb372;
        padding-top: 35%;
        height: auto;
        width: auto;
    }

    .pieck1{
        grid-row: span 2;
    }

    .pieck4{
        grid-row: span 2;
    }



/* contact */

    .contact{
        width: 100%;
        display: flex;
        margin-bottom: 5px;
        padding-bottom: 15px;
    }

    .form{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(190, 190, 190);
        width: 100%;
        margin-right: 5px;
    }

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

    textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    .contact-foto{
        background-color: rgb(190, 190, 190);
        width: 100%;
        margin-left: 5px;
    }

/* error */

    .error h3{
        background-color: white;
    }

    .boton-index{
        color: #c78b2c;
        text-align: center;
        margin-bottom: 5px;
        padding-bottom: 15px;
    }

    .boton-index a{
        color: #c78b2c;
        text-decoration: none;
    }

    .boton-index:hover{
        transform: scale(1.1, 1.1);
        transition: 0.2s 0.1s;  
    }

@media screen and (max-width: 768px){
    nav ul li{
        padding: 5px 15px;
        font-size: 15px;
        justify-content: space-evenly;
    }

    .info .info-img img {  
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .galeria-sexto-titulo{
        padding-top: 0%;
    }

    .galeria-sexto{
        display: block;
    }

    .galeria-pieck-titulo{
        padding-top: 0%;
    }

    .galeria-pieck{
        display: block;
    }

    .content{
        display: block;
    }

    .secundario{
        display: block;
    }

    .contact{
        display: block;
    }

    .form{
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .contact-foto{
        background-color: rgb(190, 190, 190);
        width: 100%;
        margin-top: 15px;
        margin-left: 0px;
    }

}

@media screen and (max-width: 500px){
    nav ul li{
        padding: 2px 7px;
        font-size: 13px;
    }

    h1{
        font-size: 20px;
    }

    footer {
        font-size: 10px;
    }

    footer img{
        width: 25px;
        height: auto;
    }
}
